@import "../../helpers/variables.scss";
@import "../../helpers/media.scss";
@import "../../helpers/alerts.scss";
@import "../../helpers/animations.scss";
@import "./styles/navbar.scss";
@import "./styles/tab.scss";
@import "./styles/profile.scss";
@import "./styles/hub.scss";
@import "./styles/pop_up.scss";
@import "./styles/assistant.scss";
@import "./styles/add_member.scss";

body {
  font-family: $app-font;
  background-color: $bg-grey;
  color: white;
  padding-top: 30px;
  overflow: hidden;
}
