.statuses {
  .statuses-wrapper {
    transform: scale(1.1);
    position: relative;
    width: fit-content;
    margin: auto;
    .square {
      overflow: hidden;
      float: right;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      position: absolute;
      z-index: 1000;
      margin: auto;
      @include mq("large") {
        margin: 0px 0px 0px auto;
      }
      background-color: #222222;
      border-radius: 25px;
      -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.55);
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.55);
      height: 257px;
      width: 257px;
      .statuses-img {
        transform: scale(0.85);
      }
    }
    .circle {
      margin: 0px 0px 0px auto;
      width: 320px;
      height: 320px;
      border-radius: 50%;
      background-color: $spotify-green;
    }
  }
  .feature-description-wrapper {
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 100px;
    @include mq("large") {
      margin: 0px;
    }
    .header {
      color: white;
      font-size: 35px;
      font-weight: 900;
      margin: 0px 0px 5px 0px;
      text-align: center;
      @include mq("large") {
        text-align: start;
      }
    }
    .description {
      font-size: 16px;
      font-weight: 500;
      margin: 0px;
      color: #b8b8b8;
      text-align: center;
      @include mq("large") {
        text-align: start;
      }
    }
  }
}
